@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e8e8e8;
}
.header {
  background-color: #061a3a;
  color: #fff;
}
.sitelogo {
  font-weight: bold;
  color: white;
  font-size: 40px;
}
.navbar-nav {
  font-size: 18px;
}
.nav-link {
  color: #fff;
}
.nav-link:hover,
.active {
  color: #ff7c5b;
}
.headCards {
  margin-bottom: 60px;
}
.fa-star,
.fa-star-half {
  color: #ffab01;
}
.card-structure {
  margin: 0 40px;
}
.profile {
  border-radius: 50%;
  width: 45%;
  margin-top: 30px;
}
.registerCard {
  margin-bottom: 39px;
}
thead {
  font-size: 18px;
}
.currency {
  color: #ff7c5b;
  font-weight: bold;
}
.price {
  color: #a8a6a6;
}
